<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat your burgers!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>		
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body class="full-window">
		{{{ body }}}
	</body>

	<script>
		$(".burger-form").on("submit", function(event){
			event.preventDefault();
			console.log("submit button works");
			var newBurger = {
				name: $("#new-burger").val().trim(),
				devoured: false
			}
			if(newBurger.name === ""){
				return;
			}else {
				
				$.ajax("/api/burgers",{
					type: "POST",
					data: newBurger
				}).then(
					function(){}
				)
				location.reload();
			}
		})

		$(".change-status").on("click", function(event){
			var id = $(this).data("id");
			var devoured = $(this).data("status");
			console.log(id);
			console.log(devoured);
			var newDevouredStatus = {
				devoured: true
			};
			console.log(newDevouredStatus);
			$.ajax("/api/burgers/" + id,{
				type: "PUT",
				data: newDevouredStatus
			}).then(
				function(){
					console.log("changed devoured status")
					location.reload();
				}
			)

		})
	</script>
</html>