
<div>
    <img src="/assets/images/burger-image.png" alt="Burger Image" id = "burger-image">
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>List of burgers ready to be eaten</h4>
                <br>

                <ol class="list-text">
                    {{#each burgers}}
                        {{#unless devoured}}
                            <li>
                                <p>{{burger_name}} <span><button class="change-status" data-id="{{id}}" data-status="{{devoured}}">
                                Click to eat 
                            </button></span>
                                </p>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ol>                

            </div>

            <div class="col-md-4">
                <h4>Add a burger you would like to eat</h4>
                <br>
                <form class="burger-form">
                    <div class="new-Buger">
                        <label for="nb"></label>
                        <input type="text" id="new-burger" name="name">
                    </div>
                <br>

                <button type="submit" id="submit-burger">Add Burger</button>

                </form>                
                
            </div>

            <div class="col-md-4">

                <h4>Burgers you have already eaten</h4>

                <br>

                <ol class="list-text">
                    {{#each burgers}}
                        {{#if devoured}}
                            <li>
                                <p>{{burger_name}}</p>
                            </li>
                        {{/if}}
                    {{/each}}
                </ol>

            </div>
        </div>
    </div>
</div>